body {
	margin: 0;
	padding: 2em 0;
	font: 100% Arial, sans-serif;
}

#twitter {
	margin: 0 auto;
	padding: 1em;
        width: 30em;
        min-height: 120 !important;
}

div.tweet {
	background: #3B3B3B url(twitter.png) no-repeat 5px 5px;
	padding: 1em 1em 1em 75px;
	margin: 1em 0;
	border-radius: 10px;
	line-height: 1.4;
	display: none;
        color: deepskyblue !important;
}

div.tweet a {
	color: #B2B2B2;
}

div.tweet small {
	display: block;
        color: darkorange !important;
}